.visible {
    visibility: visible
}

.invisible {
    visibility: hidden
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.inset-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px
}

.-top-2 {
    top: -0.5rem
}

.-right-2 {
    right: -0.5rem
}

.z-10 {
    z-index: 10
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mb-8 {
    margin-bottom: 2rem
}

.mt-3 {
    margin-top: 1rem
}

.mt-8 {
    margin-top: 2rem
}

.block {
    display: block
}

.flex {
    display: flex
}

.hidden {
    display: none
}

.h-8 {
    height: 2rem
}

.w-full {
    width: 100%
}

.w-8 {
    width: 2rem
}

.max-w-sm {
    max-width: 24rem
}

.max-w-md {
    max-width: 80%;
}

.max-w-lg {
    max-width: 70%;
}

.cursor-pointer {
    cursor: pointer
}

.select-none {
    -webkit-user-select: none;
    user-select: none
}

.flex-col {
    flex-direction: column
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.space-y-2> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.overflow-hidden {
    overflow: hidden
}

.rounded {
    border-radius: 0.25rem
}

.rounded-full {
    border-radius: 9999px
}

.border-2 {
    border-width: 2px
}

.border-gray-700 {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity))
}

.border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.border-blue-700 {
    --tw-border-opacity: 1;
    border-color: rgb(29 78 216 / var(--tw-border-opacity))
}

.bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity))
}

.bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity))
}

.bg-gray-600\/90 {
    background-color: rgb(75 85 99 / 0.9)
}

.bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity))
}

.bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity))
}

.bg-white-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-2 {
    padding: 0.5rem
}

.p-8 {
    padding: 2rem
}

.p-4 {
    padding: 1rem
}

.p-1 {
    padding: 0.25rem
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-lg {
    /* font-size: 1.125rem; */
    line-height: 0.75rem
}

.leading-7 {
    line-height: 1.5rem
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-gray-100 {
    --tw-text-opacity: 1;
    color: rgb(243 244 246 / var(--tw-text-opacity))
}

.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity))
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.focus\:border-blue-300:focus {
    --tw-border-opacity: 1;
    border-color: rgb(147 197 253 / var(--tw-border-opacity))
}

.logo {
    background: url('../image/logos/theme_logo.png');
    width: 142px;
    height: 42px;
    display: block;
}

.logo img {
    visibility: collapse;
}

.type_4 .header-top-left {
    padding: 0;
    display: inline-block;
}

.type_4 .header-top-left ul.top-link {
    list-style: none;
    margin: 0;
    vertical-align: top;
}

.type_4 .header-top-left ul.top-link>li {
    display: inline-block;
    position: relative;
    float: left;
    list-style: outside none none;
    height: 34px;
    line-height: 34px;
}

.type_4 .header-top-left ul.top-link>li>a {
    display: block;
    line-height: 15px;
    padding: 0 10px 0 20px;
    position: relative;
    height: 34px;
    line-height: 34px;
    color: #666;
    font-size: 12px;
}

.navbar-contact ul li .icon {
    color: #ff9800;
}

.navbar-contact ul li span:hover {
    color: #ff9800;
}

.megamenu .hover:hover .sub-menu,
.megamenu .hover.active .sub-menu {
    width: 100%;
    display: block;
    right: auto;
}

.megamenu .hover:hover .sub-menu .content,
.megamenu .hover.active .sub-menu .content {
    display: block;
}

.blog-img {
    width: 100px;
    height: 82px;
}

.product-img {
    width: 100px;
    height: 82px;
}

.box-quantity .quantity .quantity-control {
    float: left;
    margin: 0;
    background: #eee;
    padding: 4px 10px;
    position: relative;
}

.box-quantity .quantity .quantity-control label {
    float: left;
    font-weight: normal;
    margin-top: 8px;
    padding-right: 5px;
}

.box-quantity .quantity .quantity-control input.form-control {
    float: left;
    height: 33px;
    line-height: 31px;
    margin: 0;
    margin-right: 17px;
    padding: 0 10px;
    width: 35px;
    border: 1px solid #bdc2c9;
    border-radius: 0;
    z-index: 0;
}

.box-quantity .quantity .quantity-control span {
    border: 0 none;
    color: white;
    float: left;
    font-size: 10px;
    font-weight: normal;
    margin-left: 5px;
    border-radius: 0;
    cursor: pointer;
    line-height: 16px;
}

.box-quantity .quantity .quantity-control span.product_quantity_up {
    background: none repeat scroll 0 0 #444444;
    padding: 0 4px;
    position: absolute;
    right: 14px;
    top: 4px;
    height: 16.5px;
    width: 14px;
}

.box-quantity .quantity .quantity-control span.product_quantity_down {
    background: none repeat scroll 0 0 #444444;
    font-size: 13px;
    padding: 0 4px;
    position: absolute;
    right: 14px;
    top: 21px;
    width: 14px;
    height: 15.5px;
    line-height: 15px;
}

.box-quantity .quantity .quantity-control span:hover {
    background: #F4A137 !important;
}