*{
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans-serif;
    box-sizing: border-box;
}
.container{
    width: 980px;
    margin: 0 auto;
}
header{
    height: 100px;
    background: #FFFFFF;
}
header img{
    width: 100px;
}
.search{
    line-height: 100px;
    float:right;
    margin-right: 300px;
}
.shop{
    line-height: 100px;
    float: right;
    margin-right: 100px;
}
nav{
    height: 40px;
    background: #EA9A27;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    position: relative;
    float : left;
    line-height: 34px;
    padding: 0 60px;
}
.menu ul li a{
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;;
}
.menu ul.sub-menu{
position: absolute;
background-color: #FFFFFF;
padding: 15px 0px;
list-style: none;
width: 200px;
}
.menu ul.sub-menu a{
    border-bottom: 1px solid #3333;
}
.menu li a::before{
    content: "";
    height: 4px;
    width: 100%;
    background-color: #f00;
    position: absolute;
    bottom: 0px;
    display: none;
}
.sp{
    text-align: center;
}
footer{
    height: 130px;
    background: #62605e;
}
.ht ul{
    list-style: none;
}
.ht ul li a{
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;;
}